<div class="row pt-4">
  <div class="col-sm-12">
    <div class="element-wrapper">
      <div class="element-content">
        <div class="row">
          <div class="col-lg-12">
            <div class="panel-group">
              <div class="pipeline white lined-primary">
                <div class="pipeline-header">
                  <span class="pipeline-name"
                    ><b
                      ><i class="fa fa-columns faw"></i> Polling Station Results
                      Information
                    </b></span
                  >
                  <button
                    class="
                      btn btn-default btn-white btn-rounded btn-lg
                      float-right
                    "
                    (click)="AddNew()"
                  >
                    <i class="fa fa-plus faw" aria-hidden="true"></i> Add New
                  </button>
                </div>
                <div class="pipeline-body">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="outer-div">
                        <div class="grid-wrapper">
                          <dx-data-grid
                            id="electiongridContainer"
                            [dataSource]="
                              electioncontituencypollingstationresultinformationAll
                            "
                            keyExpr="pollingstationresult_ID"
                            [showColumnLines]="true"
                            [showRowLines]="true"
                            [showBorders]="true"
                            [rowAlternationEnabled]="true"
                            [allowColumnResizing]="true"
                            [columnMinWidth]="30"
                            [columnAutoWidth]="true"
                            [remoteOperations]="true"
                            height="600"
                            width="100%"
                          >
                            <dxo-filter-row [visible]="true"></dxo-filter-row>
                            <dxo-header-filter
                              [visible]="true"
                            ></dxo-header-filter>
                            <dxo-search-panel
                              [visible]="true"
                            ></dxo-search-panel>
                            <!-- <dxo-paging [pageSize]="8"></dxo-paging>
                          <dxo-group-panel [visible]="true"></dxo-group-panel> 
                          <dxo-grouping [autoExpandAll]="false"></dxo-grouping> -->
                            <dxo-scrolling mode="virtual"></dxo-scrolling>
                            <dxo-sorting mode="multiple"></dxo-sorting>
                            <dxo-selection mode="single"></dxo-selection>
                            <dxi-column
                              [width]="70"
                              [allowFiltering]="false"
                              [allowSorting]="false"
                              alignment="center"
                              cellTemplate="cellTemplate"
                            >
                            </dxi-column>
                            <dxi-column
                              [width]="70"
                              [allowFiltering]="false"
                              [allowSorting]="false"
                              alignment="center"
                              cellTemplate="delTemplate"
                            >
                            </dxi-column>
                            <dxi-column
                              [width]="350"
                              dataField="pollingstation_ID.description"
                              caption="Polling Station"
                              alignment="center"
                              cssClass="myClass"
                              sortOrder="asc"
                            >
                            </dxi-column>
                            <dxi-column
                              [width]="90"
                              dataField="obtained_VOTES"
                              caption="Obtained Votes"
                              alignment="center"
                              cssClass="myClass"
                            >
                            </dxi-column>
                            <dxi-column
                              [width]="90"
                              dataField="candidate_ID.person_ID.forenames"
                              caption="Candidate Name"
                              alignment="center"
                              cssClass="myClass"
                            >
                            </dxi-column>

                            <dxi-column
                              [width]="90"
                              dataField="pollingstation_ID.contituency_ID.contituency_CODE"
                              caption="Contituency"
                              alignment="center"
                              cssClass="myClass"
                            ></dxi-column>
                            <div *dxTemplate="let data of 'cellTemplate'">
                              <button
                                class="
                                  btn btn-default btn-white btn-rounded btn-sm
                                "
                                (click)="Edit(data)"
                              >
                                <i
                                  class="fa fa-pencil-square-o"
                                  aria-hidden="true"
                                ></i>
                              </button>
                            </div>
                            <div *dxTemplate="let data of 'delTemplate'">
                              <button
                                class="
                                  btn btn-default btn-white btn-rounded btn-sm
                                "
                                (click)="Delete(data)"
                              >
                                <i
                                  class="fa fa-trash"
                                  aria-hidden="true"
                                  style="color: red"
                                ></i>
                              </button>
                            </div>
                            <dxo-scrolling
                              columnRenderingMode="virtual"
                            ></dxo-scrolling> </dx-data-grid
                          ><br />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  aria-labelledby="exampleModalLabel"
  class="modal fade show"
  id="addModal"
  role="dialog"
  tabindex="-1"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          <i class="fa fa-plus" aria-hidden="true"></i> Add New Polling Station
          Result Information
        </h5>
        <button
          aria-label="Close"
          class="close"
          data-dismiss="modal"
          type="button"
        >
          <span aria-hidden="true"> ×</span>
        </button>
      </div>
      <form
        action=""
        class="form"
        (ngSubmit)="
          f.form.valid &&
            add(electioncontituencypollingstationresultinformation)
        "
        #f="ngForm"
        novalidate
      >
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label"
                  >Polling Station Name<span style="color: red">*</span></label
                >
                <ng-select
                  required
                  [(ngModel)]="
                    electioncontituencypollingstationresultinformation.stationName
                  "
                  name="Polling Station Name"
                  ng-init="electioncontituencypollingstationresultinformation.stationName"
                >
                  <ng-option
                    *ngFor="
                      let station of electioncontituencypollingstationinformationAll
                    "
                    [value]="station.description"
                    >{{
                      station.description + " " + station.description
                    }}</ng-option
                  >
                </ng-select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label"
                  >Obtained Votes<span style="color: red">*</span></label
                >
                <input
                  required
                  type="text"
                  class="form-control"
                  name="ov"
                  [(ngModel)]="
                    electioncontituencypollingstationresultinformation.obtained_VOTES
                  "
                  maxlength="50"
                  #code="ngModel"
                  pattern="[0-9\s]+"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label"
                  >Candidate Name<span style="color: red">*</span></label
                >
                <ng-select
                  required
                  [(ngModel)]="
                    electioncontituencypollingstationresultinformation.candidate_name
                  "
                  name="Candidate Name"
                  ng-init="electioncontituencypollingstationresultinformation.candidate_name"
                >
                  <ng-option
                    *ngFor="
                      let candidate of politicalpartycandidateinformationAll
                    "
                    [value]="candidate.person_ID.forenames"
                    >{{
                      candidate.person_ID.forenames +
                        " " +
                        candidate.person_ID.surname
                    }}</ng-option
                  >
                </ng-select>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" [disabled]="f.invalid">
            <i class="fa fa-plus" aria-hidden="true"></i> Add
          </button>
          <button type="button" class="btn btn-default" data-dismiss="modal">
            Cancel
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<div
  aria-labelledby="exampleModalLabel"
  class="modal fade show"
  id="editModal"
  role="dialog"
  tabindex="-1"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit Polling
          Station Result Information
        </h5>
        <button
          aria-label="Close"
          class="close"
          data-dismiss="modal"
          type="button"
        >
          <span aria-hidden="true"> ×</span>
        </button>
      </div>
      <form
        action=""
        class="form"
        (ngSubmit)="
          f.form.valid &&
            update(electioncontituencypollingstationresultinformation)
        "
        #f="ngForm"
        novalidate
      >
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label"
                  >Polling Station Name<span style="color: red">*</span></label
                >
                <ng-select
                  requird
                  [(ngModel)]="
                    electioncontituencypollingstationresultinformation.stationName
                  "
                  name="Polling Station Name"
                  ng-init="electioncontituencypollingstationresultinformation.stationName"
                >
                  <ng-option
                    *ngFor="
                      let station of electioncontituencypollingstationinformationAll
                    "
                    [value]="station.description"
                    >{{
                      station.description + " " + station.description
                    }}</ng-option
                  >
                </ng-select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label"
                  >Obtained Votes<span style="color: red">*</span></label
                >
                <input
                  required
                  type="text"
                  class="form-control"
                  name="ov"
                  [(ngModel)]="
                    electioncontituencypollingstationresultinformation.obtained_VOTES
                  "
                  maxlength="50"
                 
                  #code="ngModel"
                  pattern="[0-9\s]+"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label"
                  >Candidate Name<span style="color: red">*</span></label
                >
                <ng-select
                  required
                  [(ngModel)]="
                    electioncontituencypollingstationresultinformation.candidate_name
                  "
                  name="Candidate Name"
                  ng-init="electioncontituencypollingstationresultinformation.candidate_name"
                >
                  <ng-option
                    *ngFor="
                      let candidate of politicalpartycandidateinformationAll
                    "
                    [value]="candidate.person_ID.forenames"
                    >{{
                      candidate.person_ID.forenames +
                        " " +
                        candidate.person_ID.surname
                    }}</ng-option
                  >
                </ng-select>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" [disabled]="f.invalid">
            <i class="fa fa-plus" aria-hidden="true"></i> Update
          </button>
          <button type="button" class="btn btn-default" data-dismiss="modal">
            Cancel
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
